{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
 <header>
     <nav class="navbar navbar-light bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">{{app_name}}</a>
          </div>
     </nav>
 </header>
 <div class = "container">
     <div class="row">
          <div class="col-12">
             <h2 class="text-center mt-5 mb-2">Add Your ToDo Here!</h2>
          </div>
     </div>
     <div class="row">
       <div class="col-12">
           <form class="row row-cols-lg-auto g-3 align-items-center d-flex justify-content-center" action="add_todo/" method="POST">
            {% csrf_token %}
               <div class="col-12">
                 <div class="input-group">
                   <input type="text" class="form-control"  placeholder="enter your todo" name="todo_text">
                 </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
           </form>
       </div>
     </div>

     <div class="row mt-5">
         <div class="col-12 table-responsive">
             <table class="table">

                  <tbody>
                  {% for todo in todo_list %}
                    <tr>
                      <td>
                            <p>{{todo.todo_text}}</p>
                            <p class="text-muted"><small>Added on: {{todo.added_on}}</small></p>
                             <p class="text-muted"><small>updated on: {{todo.updated_on}}</small></p>
                      </td>
                      <td class="text-right">
                       <form method = "POST" action="{% url 'delete_todo' todo.id%}"  >
                           {% csrf_token %}
                           <button type="submit" class="btn btn-danger">Delete</button>
                       </form>
                      </td>
                      <td class="text-left">
                           <a href="{% url 'edit_todo' todo.id%}" type="button" class="btn btn-success">Edit</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
             </table>
         </div>
     </div>
 </div>




 <!--  Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>